<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script src="{{url_for('static', filename='script1.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js " integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW " crossorigin="anonymous "></script>
    <title>web-series-quotes</title>
</head>

<body>
    <p align='center'>
        <img width="400px" src="https://raw.githubusercontent.com/yogeshwaran01/web-series-quotes/main/web-series-quotes-title.png" align="center" alt="Logo">
        <h2 align="center">Web Series Quotes Api</h2>
        <p align="center">Api for Quotes of various web-series. Api automatically generate quotes with background image. Api also returns the Quotes and its author as json.</p>
    </p>
    <p align="center">
        <a href="https://travis-ci.org/github/yogeshwaran01/web-series-quotes/">
            <img alt="test passing" src="https://img.shields.io/travis/yogeshwaran01/web-series-quotes/main.svg?logo=travis" />
        </a>
    </p>
    <div class="alert alert-success" role="alert" id="dis" style="display: none;">
        Your Link will be appear here
    </div>
    <br>
    <div id="center" class="form-floating">
        <button type="button" class="btn btn-primary btn-lg" style="margin: auto; display: block " onclick="open_form_1()" id="b1">Web Series quotes image Generator</button>
    </div>
    <br>
    <div id="center" class="form-floating">
        <button type="button" class="btn btn-primary btn-lg" style="margin: auto; display: block " onclick="open_form_2()" id="b2">Custom Text & Image Generator</button>
    </div>
    <br>
    <!-- form (1) -->
    <div style="display: none;" id="form1">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Color of Text</label>
            <select class="form-select" id="inputGroupSelect01" name="c">
                {% for color in colors %}
                <option value={{ color }}>{{ color }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Source of Image</label>
            <input class="form-control" placeholder="Source of image" id="floatingTextarea" name="src">
            </input>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Series</label>
            <select class="form-select" id="inputGroupSelect01" name="s">
                {% for serie in series %}
                <option value={{ serie }}>{{ serie.upper() }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Quote ID</label>
            <input type="number" name="id">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Font Size</label>
            <input type="number" name="font">
        </div>
        <br>
        <div class="form-floating">
            <button type="button" class="btn btn-primary btn-lg" style="margin: auto; display: block " onclick="make_link()">Submit</button>
        </div>
        <br>
        <div class="form-floating">
            <button type="button" class="btn btn-primary btn-lg" style="margin: auto; display: block " onclick="open_link()">Open Image</button>
        </div>
    </div>

    <!-- form(2) -->
    <div style="display: none;" id="form2">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Fore Ground Color</label>
            <select class="form-select" id="inputGroupSelect01" name="fc">
                {% for color in colors %}
                <option value={{ color }}>{{ color }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Back Ground Color</label>
            <select class="form-select" id="inputGroupSelect01" name="bc">
                {% for color in colors %}
                <option value={{ color }}>{{ color }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Width</label>
            <input type="number" name="x">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Height</label>
            <input type="number" name="y">
        </div>

        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="text"></textarea>
            <label for="floatingTextarea">Text</label>
        </div>
        <br>
        <div class="form-floating">
            <button type="button" class="btn btn-primary btn-lg" style="margin: auto; display: block " onclick="make_link_2()">Submit</button>
        </div>
        <br>
        <div class="form-floating">
            <button type="button" class="btn btn-primary btn-lg" style="margin: auto; display: block " onclick="open_link_2()">Open Image</button>
        </div>
    </div>
    <br>
    <div id="form1">
        <h2>
            <a id="user-content-url" class="anchor" href="#url" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>URL</h2>
        <p>This API is currently hosted on Heroku.</p>
        <pre lang="url"><code>https://web-series-quotes.herokuapp.com
            </code></pre>
        <h2>
            <a id="user-content-features" class="anchor" href="#features" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Features</h2>
        <ul>
            <li>Available Various Web-Series
                <ul>
                    <li><a href="https://web-series-quotes.herokuapp.com/breakingbad" rel="nofollow">Breaking Bad</a></li>
                    <li><a href="https://web-series-quotes.herokuapp.com/dark" rel="nofollow">Dark</a></li>
                    <li><a href="https://web-series-quotes.herokuapp.com/gameofthrones" rel="nofollow">Game Of Thrones</a></li>
                    <li><a href="https://web-series-quotes.herokuapp.com/moneyheist" rel="nofollow">Money Heist</a></li>
                </ul>
            </li>
            <li>Quotes data as json API
                <ul>
                    <li><a href="https://github.com/yogeshwaran01/web-series-quotes/blob/main/docs/all_quote.md">Get all Quotes</a></li>
                    <li><a href="https://github.com/yogeshwaran01/web-series-quotes/blob/main/docs/random_quote.md">Get Random Quotes</a></li>
                    <li><a href="https://github.com/yogeshwaran01/web-series-quotes/blob/main/docs/quote_by_id.md">Get Quotes by Id</a></li>
                </ul>
            </li>
            <li>Generates Quote images
                <ul>
                    <li><a href="https://github.com/yogeshwaran01/web-series-quotes#generating-quotes-with-in-build-images">Generating Quotes with in-build images</a></li>
                    <li><a href="https://github.com/yogeshwaran01/web-series-quotes#generating-quotes-with-your-own-images">Generating Quotes with your own images</a></li>
                    <li><a href="https://github.com/yogeshwaran01/web-series-quotes#generating-quotes-with-blank-colored-background">Generating Quotes with blank colored Background</a></li>
                    <li><a href="https://github.com/yogeshwaran01/web-series-quotes#generating-quote-of-your-own-quote-and-image">Generating Quote of your own quote and image</a></li>
                </ul>
            </li>
        </ul>
        <h2>
            <a id="user-content-parameters-of-endpoints" class="anchor" href="#parameters-of-endpoints" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Parameters of Endpoints</h2>
        <pre lang="url"><code>https://web-series-quotes.herokuapp.com/generate/{image or blank}
            </code></pre>
        <ul>
            <li>Use endpoint <code>image</code> for image as background</li>
            <li>Use endpoint <code>blank</code> for colored background</li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th align="center">Endpoint</th>
                    <th align="left">Parameter</th>
                    <th align="left">Explanation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">image</td>
                    <td align="left">
                        <ul>
                            <li>src</li>
                            <li>text</li>
                            <li>color</li>
                            <li>size</li>
                        </ul>
                    </td>
                    <td align="left">
                        <ul>
                            <li>Source of the image </li>
                            <li>Text in image if you use own text</li>
                            <li>Color of the image</li>
                            <li>Font Size</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td align="center">blank</td>
                    <td align="left">
                        <ul>
                            <li>fore</li>
                            <li>back</li>
                            <li>text</li>
                            <li>x</li>
                            <li>y</li>
                        </ul>
                    </td>
                    <td align="left">
                        <ul>
                            <li>Foreground color(Font-color)</li>
                            <li>Background color</li>
                            <li>Text in image if you use own text</li>
                            <li>Width of the image</li>
                            <li>Height of the image</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li><a href="https://github.com/yogeshwaran01/web-series-quotes/blob/main/docs/in_build_images.md">Available in-Build images</a></li>
            <li><a href="https://github.com/yogeshwaran01/web-series-quotes/blob/main/docs/colors.md">Available Colors</a></li>
        </ul>
        </p>
        </h3>
    </div>
    <br>
    <div>
        <a href="https://github.com/yogeshwaran01/web-series-quotes#url">
            <h4 align='center'>Api Full Documentation</h4>
        </a>
        <h1 align="center">
            <a id="user-content-made-with-pythoncontributions-are-welcomeheart" class="anchor" href="#made-with-pythoncontributions-are-welcomeheart" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Made with Python
            <h3 align="center">
                <a id="user-content-contributions-are-welcome" class="anchor" href="#contributions-are-welcome" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> Contributions are welcome!</h3>
            <h2 align="center">
                <a id="user-content-heart" class="anchor" href="#heart" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
                <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">❤️</g-emoji>
            </h2>
        </h1>
        <h2 style="text-align: center;"><a href="https://github.com/yogeshwaran01/web-series-quotes" style="text-align: center;">
                Github Repo</a></h2>
        <h3 style="text-align: center;">Coded by
            <a href="https://yogeshwaran01.herokuapp.com">YOGESHWARAN R</a>
    </div>
</body>

</html>